.terminal {
  background-color: black;
  color: white;
  height: 240px;
  min-height: 240px;
  width: 800px;
  font-size: 10px;
  overflow: scroll;
  font-family: 'mono';
  padding: 10px;
}

span {
  color: red;
}
span.enabled {
  color: green;
}
